.doumdoum__header-drawer-products_tab {
  position: absolute;
  transform: translateX(100%);
  transition: 300ms;
  background-color: white;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
.doumdoum__header-drawer-products_tab.open {
  transform: translateX(0);
}
.doumdoum__header-drawer-products_tab-top {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 12px 16px;
}
.doumdoum__header-drawer-products_tab-bottom {
  flex: 1;
  padding: 12px 16px;
}
product-category-tabs {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.doumdoum__product-category-tabs {
  display: flex;
  justify-content: space-between;
}
.doumdoum__product-category-tab {
  font-family: nunito;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: center;
  padding: 10px 8px;
  border-radius: 12px;
  background-color: transparent;
  max-width: 109px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  flex-shrink: 0;
  color: #414651;
}
.doumdoum__product-category-tab.selected-tab {
  background-color: #d5edff;
  color: #181d27;
}
.doumdoum__product-category-pages {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
}
.doumdoum__product-category-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 0;
  pointer-events: none;
}
.doumdoum__product-category-page.open {
  opacity: 1;
  pointer-events: all;
}

.doumdoum__product-category-page ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.doumdoum__product-category-page ul li.doumdoum__custom-product-card {
  flex: 1;
}
.doumdoum__product-category-page
  ul
  li.doumdoum__custom-product-card
  .doumdoum__custom-product-card-top-bottom
  h3 {
  font-size: 13px;
}
.doumdoum__product-category-page
  ul
  li.doumdoum__custom-product-card
  .doumdoum__custom-product-card-top-bottom
  p {
  font-size: 11px;
}
.doumdoum__product-category-page
  ul
  li.doumdoum__custom-product-card
  .doumdoum__custom-product-card-bottom
  .product-title
  h5 {
  font-size: 16px;
}
.doumdoum__product-category-page
  ul
  li.doumdoum__custom-product-card
  .doumdoum__custom-product-card-bottom
  .product-title {
  justify-content: space-between;
}
.doumdoum__product-category-page
  ul
  li.doumdoum__custom-product-card
  .doumdoum__custom-product-card-top {
  width: 100%;
}

.doumdoum__product-category-page
  ul
  li.doumdoum__custom-product-card
  .doumdoum__custom-product-card-top
  > img {
  object-fit: contain;
}
