.doumdoum__about-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
  padding: 62px 112px 51px;
}
.main-hero_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
}
.main-hero_header a {
  display: inline-block;
  min-height: 30px;
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 15px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: center;
  text-shadow: 0 0 0 4px #00000040;
  border-radius: 20px;
  color: #eef6ff;
  padding: 6px;
  margin: 0;
  border: none;
  outline: 1px solid #d5d7da;
  box-shadow: 0 0 5px 0 #fff1f940;
  background-image: var(--bg-btn);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-hero_header h1 {
  font-family: Fredoka;
  font-weight: 500;
  font-style: Medium;
  font-size: 34px;
  leading-trim: NONE;
  line-height: 120%;
  text-align: left;
  letter-spacing: -0.75%;
  color: #252b37;
  margin: 0;
}
.main-hero_banner {
  display: flex;
  width: 100%;
  max-height: 402px;
}
.main-hero_banner .hero-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.hero-video-container {
  width: 100%;
}
.hero-image-container {
  width: 100%;
}
.main-hero_banner .hero-video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  border-radius: 20px;
}
.main-hero_info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}
.main-hero_info p {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: left;
  margin: 0;
}
.main-hero_info_right {
  color: #535862;
}
.main-hero_info_left {
  color: #181d27;
}
@media screen and (max-width: 990px) {
  .doumdoum__about-hero {
    padding: 62px 90px 51px;
  }
}
@media screen and (max-width: 768px) {
  .doumdoum__about-hero {
    padding: 62px 40px 51px;
  }
  .main-hero_header h1 {
    font-size: 28px;
  }
  .main-hero_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
  }
}
@media screen and (max-width: 450px) {
  .doumdoum__about-hero {
    padding: 62px 16px 51px;
  }
  .main-hero_header h1 {
    font-size: 24px;
  }
  .main-hero_info p {
    font-size: 14px;
  }
}
