.doumdoum__product-ingredients {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 57px;
  background-color: #fafafa;
}
.product-ingredient_container--sun-svg {
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
}
.product-ingredient_container--sun-svg-left {
  width: 103px;
  height: 99px;
  position: absolute;
  left: 0;
  top: -30px;
}
.product-ingredient_container--sun-svg-left img {
  width: 100%;
  height: 100%;
}
.product-ingredient_container--sun-svg-right {
  width: 103px;
  height: 99px;
  position: absolute;
  right: 0;
  top: -30px;
}
.product-ingredient_container--sun-svg-right img {
  width: 100%;
  height: 100%;
}
.product-ingredient_title {
  display: block;
  max-width: 300px;
}
.product-ingredient_title h2 {
  font-family: Fredoka;
  font-weight: 500;
  font-style: Medium;
  font-size: 26px;

  line-height: 120%;
  letter-spacing: -0.75%;
  text-align: center;
  margin: 0;
  color: #252b37;
}
html[dir="rtl"] .doumdoum__ingredients-top h2 {
  font-family: "Playpen-Sans-Arabic";
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: center;
}
.product-ingredient_container {
  display: flex;
  width: 100%;
}
.product-ingredient_container .doumdoum__product-ingredients-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 2px;
}
.product-ingredient_container::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}
.ingredient-card {
  position: relative;
  justify-self: center;
  display: flex;
  min-height: 173px;
  padding: 15px 12px;
  border-radius: 24px;
  border: none;
  outline: 1px solid #a4a7ae;
  overflow: hidden;
  background-color: #fafafa;
}
.ingredient-card__image-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.ingredient-card__image-wrapper img {
  height: 100%;
  object-fit: contain;
}
.ingredient-card__image {
  max-width: 100%;
  height: 174px;
  width: 94px;
}

.ingredient-card__content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 12px;
  z-index: 2;
}
.ingredient-card__content h3 {
  font-family: Fredoka;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;

  line-height: 120%;
  letter-spacing: -0.75%;
  color: #2998f6;
  margin: 0;
}
.ingredient-card__description {
  font-family: Nunito;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;

  line-height: 120%;
  letter-spacing: -0.5%;
  color: #414651;
  margin: 0;
}
.ingredient-card__benefits {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.ingredient-card__benefits li {
  position: relative;
  font-family: Nunito;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;

  line-height: 120%;
  letter-spacing: -0.5%;
  color: #414651;
  padding-left: 14px;
  margin: 0;
  text-wrap: nowrap;
}
.ingredient-card__benefits li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 8px;
  height: 8px;
  background-color: #ef95c5;
  border-radius: 50%;
}

html[dir="rtl"] .ingredient-card__image-wrapper {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotateY(180deg) translate(37%, 0);
}
@media screen and (max-width: 768px) {
  .ingredient-card__content h3 {
    font-size: 18px;
  }
  .doumdoum__product-ingredients {
    padding: 57px 40px;
  }
}
@media screen and (max-width: 600px) {
  .doumdoum__product-ingredients {
    padding: 54px 16px;
  }

  .product-ingredient_container--sun-svg-left {
    left: -56px;
  }
}
@media screen and (max-width: 450px) {
  .ingredient-card__content h3 {
    font-size: 16px;
  }
  .doumdoum__product-ingredients {
    padding: 57px 0 57px 16px;
    overflow: hidden;
  }
  .ingredient-card__description {
    font-size: 14px;
  }
  .ingredient-card__benefits li {
    font-size: 12px;
  }
}
