.doumdoum__product_table {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  background-color: var(--custom-bg-color);
  z-index: -2;
}
.doumdoum-icon {
  position: absolute;
  width: 100%;
}

.doumdoum__product-table-left-icon {
  max-width: 133px;
  max-height: 128px;
  position: absolute;
  left: 0;
  bottom: 14px;
}

/*

   .doumdoum-icon::after { 
   content: ""; 
   position: absolute; 
   width: var(--icon-width); 
   height: var(--icon-height); 
   background-image: var(--bear-icon); 
   background-position: center; 
   background-repeat: no-repeat; 
   background-size: cover; 
   overflow: hidden; 
   } 
*/
.doumdoum-icon-top::after {
  transform: rotate(var(--rotation-deg, 0deg));
  top: -30px;
  right: 30px;
}
.doumdoum-icon-bot::after {
  transform: rotate(var(--rotation-deg, 0deg));
  bottom: 0;
  left: 0;
}
.product_table-title {
  font-family: Fredoka;
  font-weight: 500;
  font-style: Medium;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: -0.75%;
  text-align: center;
  vertical-align: middle;
  color: #252b37;
}
.product_table--grid_container {
  display: grid;
  grid-template-columns: 1fr 60px 1fr;
  column-gap: 10px;
  row-gap: 0;
  width: 100%;
  align-items: center;
  max-width: 647px;
}
.product_table--grid_col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cutom_grid--cell {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  width: 100%;
  height: 89px;
  padding: 33.5px 0;
  text-align: center;
  border-top: 1px solid #ef95c5;
  border-bottom-width: 100%;
  box-sizing: border-box;
}
.grid--cell-vs {
  position: relative;
  border: none;
}
.grid--cell-vs p {
  background-color: var(--custom-bg-color);
}
.grid--cell-vs::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  top: 0;
  left: -10px;
  border-top: 1px solid #ef95c5;
}
.grid--cell-vs::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background-color: #ef95c5;
  z-index: -1;
}
.grid--cell_img-vs::before {
  height: 150px;
  top: -22px;
}
.grid--cell_img-vs::after {
  border: none;
}
.grid--cell_img {
  height: 100%;
  max-height: 164px;
  border: none;
  padding-bottom: 0;
  justify-self: center;
  overflow: hidden;
}
.grid--cell_img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.vs-product-img {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -webkit-filter: blur(3px);
}

.product_table-title {
  font-family: Fredoka;
  font-weight: 500;
  font-style: Medium;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: -0.75%;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  margin: 0;
}
.grid--cell_price span {
  font-family: Nunito;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: center;
  margin: 0;
  color: #252b37;
}
.cutom_grid--cell p {
  font-family: Nunito;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: center;
  border-radius: 50%;
  background-color: var(--custom-bg-color);
  color: #252b37;
  margin: 0;
}
#vs-text {
  font-family: Fredoka;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: -0.75%;
  vertical-align: middle;
  color: #252b37;
}
@media screen and (max-width: 1024px) {
  .doumdoum__product_table {
    padding: 20px 216.5px;
  }
}
@media screen and (max-width: 990px) {
  .doumdoum__product_table {
    padding: 20px 57px;
  }
  .doumdoum-icon::after {
    display: none;
  }
  .doumdoum__product-table-left-icon {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .doumdoum__product_table {
    padding: 20px 40px;
  }
  .cutom_grid--cell p {
    font-size: 15px;
  }
  .grid--cell_price span {
    font-size: 15px;
  }
  .grid--cell-vs p {
    font-size: 13px;
  }
}
@media screen and (max-width: 500px) {
  .doumdoum__product_table {
    padding: 20px 16px;
  }
  .cutom_grid--cell p {
    font-size: 14px;
  }
  .grid--cell_price span {
    font-size: 14px;
  }
  .grid--cell-vs p {
    font-size: 12px;
  }
}
@media screen and (max-width: 450px) {
  .doumdoum__product_table {
    padding: 20px 0;
  }
  .cutom_grid--cell {
    height: 86px;
    padding: 26px 12px;
  }
  .grid--cell_img {
    padding: 0;
  }
}
