.doumdoum__custom-blog-articles {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 57px 90px;
  background-color: #fafafa;
}
.doumdoum__custom-blog-articles .blog-articles-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
.doumdoum__custom-blog-articles .blog-articles-title {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 50%;
  padding: 20px 16px;
}
.doumdoum__custom-blog-articles .blog-articles-title h3 {
  font-family: Fredoka;
  font-weight: 500;
  font-size: 34px;
  line-height: 120%;
  letter-spacing: -0.75%;
  margin: 0;
  color: #252b37;
}
.doumdoum__custom-blog-articles .blog-articles-title p {
  font-family: Nunito;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.5%;
  margin: 0;
  color: #414651;
}
.doumdoum__custom-blog-articles .container_btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 16px;
}
.doumdoum__custom-blog-articles .container_btn a {
  display: flex;
  font-family: Geist;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.5%;
  border-radius: 16px;
  padding: 8.5px 16px;
  border: none;
  outline: 1px solid #e9eaeb;
}
.doumdoum__custom-blog-articles .container_btn a:hover {
}
.doumdoum__custom-blog-articles .doumdoum_podcast {
  color: #f570b7;
}
.doumdoum__custom-blog-articles .doumdoum_blog:hover {
  box-shadow: 4px 4px 0px 0px #d2d2d2;
}
.doumdoum__custom-blog-articles .blog-articles-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  width: 50%;
}
.doumdoum__custom-blog-articles
  .blog-articles-grid
  .article-content:last-child {
  padding-top: 16px;
  border-top: 1px solid #d5d7da;
}
.doumdoum__custom-blog-articles .article-content {
  display: flex;
  flex-direction: row;
  gap: 32px;
  height: 100%;
  width: 100%;
  position: relative;
}
.doumdoum__custom-blog-articles .article-content img,
.placeholder-image {
  width: 160px;
  max-height: 160px;

  border-radius: 20px;
}
.doumdoum__custom-blog-articles .placeholder-image {
  outline: 1px solid #e9eaeb;
}
.doumdoum__custom-blog-articles .article-info-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.doumdoum__custom-blog-articles .article-info-container h3 {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: -0.5%;
  color: #252b37;
  margin: 0;
  margin-bottom: 8px;
}
.doumdoum__custom-blog-articles .article-info-container p {
  font-family: Nunito;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.5%;
  color: #414651;
  margin: 0;
  margin-bottom: 24px;
}
.doumdoum__custom-blog-articles .article-info-container a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-family: Geist;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.5%;
  color: #414651;
  margin-top: auto;
  margin-left: 16px;
  margin-bottom: 12.5px;
  transition: 300ms;
  text-underline-offset: 4px;
}
.doumdoum__custom-blog-articles .article-info-container a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.doumdoum__custom-blog-articles .article-info-container a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  .doumdoum__custom-blog-articles {
    padding: 57px 45px;
  }
}
@media screen and (max-width: 844px) {
  .doumdoum__custom-blog-articles .blog-articles-title h3 {
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) {
  .doumdoum__custom-blog-articles .article-info-container h3 {
    font-size: 16px;
  }
  .doumdoum__custom-blog-articles .article-info-container p {
    font-size: 12px;
    margin-bottom: 12px;
  }
  .doumdoum__custom-blog-articles .article-content {
    gap: 12px;
  }
  .doumdoum__custom-blog-articles .blog-articles-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
  }
  .doumdoum__custom-blog-articles .blog-articles-grid {
    width: 100%;
  }
  .doumdoum__custom-blog-articles .blog-articles-title {
    width: 100%;
  }
  .doumdoum__custom-blog-articles {
    padding: 80px 16px;
  }
}
@media screen and (max-width: 620px) {
  .doumdoum__custom-blog-articles .blog-articles-title {
    padding: 0;
  }
}
@media screen and (max-width: 450px) {
  .doumdoum__custom-blog-articles {
  }
  .doumdoum__custom-blog-articles .blog-articles-title h3 {
    font-size: 24px;
  }
  .doumdoum__custom-blog-articles .blog-articles-title p {
    font-size: 14px;
  }
}
