#header-group {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

main.content-for-layout {
  margin-top: 76px;
}

.header__row--top {
  min-height: 72px;
}

.header__row--top .menu-list__link-title {
  font-family: nunito;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.5%;
}

.doumdoum__cart-button:hover {
  box-shadow: 5px 5px 0px #d2d2d2;
  border-radius: 16px;
}

.doumdoum__account-button {
  /* width: 36px; */
  margin-right: 16px;
  background-color: white !important;
  border-radius: 16px;
  border: 1px solid #e9eaeb;
}
.doumdoum__account-button:hover {
  box-shadow: 5px 5px 0px #d2d2d2;
  border-radius: 16px;
}

@media screen and (max-width: 790px) {
  .doumdoum__account-button {
    display: none;
    opacity: 0;
  }

  .doumdoum__header .svg-wrapper > svg {
    width: 16px;
    height: 16px;
  }
  .doumdoum__header .svg-wrapper {
    width: 16px;
    height: 16px;
  }
}
