footer.doumdoum_custom-footer {
  position: relative;
  padding-top: 32px;
  padding-bottom: 16px;
}
.doumdoum_custom-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.doumdoum__custom-footer .footer_news-letter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 32px;
  margin-bottom: 34px;
}
.doumdoum__custom-footer .news-letter_title {
  width: 420px;
  font-family: Fredoka;
  font-weight: 700;
  font-style: Bold;
  font-size: 34px;

  line-height: 120%;
  letter-spacing: -0.75%;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
html[dir="rtl"] .doumdoum__custom-footer .news-letter_title {
  font-family: "Playpen-Sans-Arabic";
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: center;
}

.doumdoum__custom-footer .news-letter_info {
  width: 420px;
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
html[dir="rtl"] .doumdoum__custom-footer .news-letter_info {
  font-family: "Playpen-Sans-Arabic";
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: center;
}

.doumdoum__custom-footer .news-letter_email {
  max-width: 412px;
  width: 100%;
}
.doumdoum__custom-footer .footer_bear {
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1;
}
.doumdoum__custom-footer .footer_bear img {
  position: absolute;
  width: 126px;
  height: 126px;
  top: -119px;
  z-index: 10;
}
.doumdoum__custom-footer .footer_menu {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  max-width: 98%;
  padding: 48px 112px;
  background-color: #fafafa;
  border-radius: 24px;
  margin-bottom: 24px;
  z-index: 2;
}
.doumdoum__custom-footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}
.doumdoum__custom-footer .footer-grid .footer-column:first-child .menu_list {
  width: 100%;
  column-count: 2;
  padding: 0;
  margin: 0;
}
.doumdoum__custom-footer .footer-grid > .footer-column:first-child .menu_link {
  break-inside: avoid;
  display: block;
}
.doumdoum__custom-footer .footer-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.doumdoum__custom-footer .menu_list {
  gap: 16px;
  padding: 0;
  margin: 0;
}
.doumdoum__custom-footer .menu_link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-bottom: 16px;
  list-style: none;
}
.doumdoum__custom-footer .menu_title {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;

  line-height: 120%;
  letter-spacing: -0.5%;
  color: #181d27;
  margin: 0 0 24px;
}
html[dir="rtl"] .doumdoum__custom-footer .menu_title {
  font-family: "Playpen-Sans-Arabic";
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: right;
}
.doumdoum__custom-footer .menu_link a {
  text-decoration: none;
  font-family: Nunito;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;

  line-height: 120%;
  letter-spacing: -0.5%;
  color: #181d27;
  text-underline-offset: 4px;
}
html[dir="rtl"] .doumdoum__custom-footer .menu_link a {
  font-family: "Playpen-Sans-Arabic";
  font-weight: 400;
  font-style: Medium;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: right;
}
.doumdoum__custom-footer .menu_link a:hover {
  text-decoration: underline;
}
.doumdoum__custom-footer .footer_devider {
  height: 0;
  border: 0;
  border-top: 1px dashed #a4a7ae;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 98%;
}
.doumdoum__custom-footer .footer_logo--bot {
  max-width: 98%;
}
.doumdoum__custom-footer .doudoum_signature {
  font-family: Nunito;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: center;
  vertical-align: middle;
  align-self: center;
  color: #717680;
  margin-top: 16px;
}

/* --------------------------------rtlCss------------------------------- */
html[dir="rtl"] .custom__email-signup__input-group {
  display: flex;
  flex-direction: row-reverse;
}
html[dir="rtl"] .custom__email-signup__input-group input::placeholder {
  text-align: right;
}
@media screen and (max-width: 990px) {
  .doumdoum__custom-footer .footer_menu {
    max-width: 98%;
    padding: 48px 78px;
  }
}
@media screen and (max-width: 750px) {
  .doumdoum__custom-footer .footer_menu {
    max-width: 98%;
    padding: 32px 42px;
  }
  .doumdoum__custom-footer .menu_title {
    margin-bottom: 12px;
  }
  .doumdoum__custom-footer .menu_link {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 620px) {
  .doumdoum__custom-footer .footer_news-letter {
    margin-top: 32px;
    margin-bottom: 96px;
  }
  .doumdoum__custom-footer .custom__email-signup__input-group {
    flex-direction: column;
    gap: 8px;
  }
  .doumdoum__custom-footer .custom__email-signup__input,
  .doumdoum__custom-footer .custom__email-signup__button {
    width: 100%;
    max-width: 342px;
    height: 44px;
    border-radius: 16px;
    align-self: center;
  }

  html[dir="rtl"] .custom__email-signup__input-group {
    display: flex;
    flex-direction: column;
  }
  .doumdoum__custom-footer .footer_bear img {
    width: 90px;
    height: 90px;
    top: -86px;
  }

  .doumdoum__custom-footer .footer_menu {
    max-width: 96%;
    padding: 32px;
  }
  .doumdoum__custom-footer .footer-grid {
    /* height: 437px; */
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(4, 1fr); */
    gap: 24px;
  }
  .doumdoum__custom-footer .footer-grid .footer-column:first-child .menu_list {
    width: 100%;
    column-count: 3;
    padding: 0;
    margin: 0;
  }
  .doumdoum__custom-footer .footer-grid .footer-column:nth-child(2) .menu_list {
    width: 100%;
    column-count: 3;
    padding: 0;
    margin: 0;
  }

  .doumdoum__custom-footer .footer-grid .footer-column:nth-child(3) {
    grid-row: 3 / 4;
  }
  .doumdoum__custom-footer .footer-grid .footer-column:nth-child(3) .menu_list {
    width: 100%;
    column-count: 3;
    padding: 0;
    margin: 0;
  }
  .doumdoum__custom-footer .footer-grid .footer-column:nth-child(4) {
    grid-row: 4 / 5;
  }
  .doumdoum__custom-footer .footer-grid .footer-column:nth-child(4) .menu_list {
    width: 100%;
    column-count: 2;
    padding: 0;
    margin: 0;
  }
  .doumdoum__custom-footer .menu_list {
    gap: 10px;
  }
}
.doumdoum__custom-footer .doudoum_signature {
  font-size: 12px;
}
@media screen and (max-width: 450px) {
  .doumdoum__custom-footer .footer_bear {
  }
  .doumdoum__custom-footer .footer-grid .footer-column:first-child .menu_list {
    box-sizing: border-box;
    width: 100%;
    column-count: 2;
    padding: 0;
    margin: 0;
  }
  .doumdoum__custom-footer .footer_menu {
    max-width: 94%;
    padding: 16px 12px;
    align-self: center;
    justify-self: center;
  }
  .doumdoum__custom-footer .footer_news-letter {
    margin-top: 32px;
    margin-bottom: 96px;
  }
  .doumdoum__custom-footer .custom__email-signup__input,
  .doumdoum__custom-footer .custom__email-signup__button {
    width: 100%;
    min-width: 354px;

    border-radius: 16px;
    align-self: center;
  }
  .doumdoum__custom-footer .custom__email-signup__input {
    padding: 12px 14px;
  }
  .doumdoum__custom-footer .custom__email-signup__button {
    padding: 12.5px 133.5px;
  }
  .doumdoum__custom-footer .news-letter_title,
  .doumdoum__custom-footer .news-letter_info {
    width: 100%;
    min-width: 342px;
    padding: 0 16px;
    text-align: start;
  }
  .doumdoum__custom-footer .footer_devider {
    margin-bottom: 0;
  }
  .doumdoum__custom-footer .footer_logo--bot {
    padding-top: 20px;
    padding-right: 49px;
  }
}
