.doumdoum__custom-product-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 38px 112px;
  background-color: #fafafa;
}
.doumdoum__custom-product-section_container-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 33px;
}
.container-grid__images {
  position: relative;
  min-width: 400px;
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
}
.product-main-image::after {
  content: "";
  position: absolute;
  background-image: var(--approved-icon);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: -3%;
  left: -4%;
  width: 68px;
  height: 68px;
  z-index: 3;
}
.container-grid__card-info {
  width: 100%;
  height: 100%;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 15%;
}

.card-info_title-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-start;
}
.card-info_title-price h1 {
  font-family: Fredoka;
  font-weight: 500;
  font-style: Medium;
  font-size: 34px;
  line-height: 120%;
  letter-spacing: -0.75%;
  color: #000000;
  margin: 0;
}
html[dir="rtl"] .card-info_title-price h1 {
  font-family: "Playpen-Sans-Arabic";
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;

  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: right;
}
.card-info_title-price span {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.5%;
  color: #000000;
}
html[dir="rtl"] .card-info_title-price span {
  font-family: "Playpen-Sans-Arabic";
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;

  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: right;
}
.card-info_reviews {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.card-info_reviews span {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: -0.5%;
}
html[dir="rtl"] .card-info_reviews span {
  font-family: "Playpen-Sans-Arabic";
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;

  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: right;
}
.card-info_benifits-list {
  display: flex;
  justify-content: flex-start;
}
.card-info_benifits-list ul {
  margin: 0;
  padding: 0;
}
.card-info_benifits-list ul li {
  margin: 0;
  list-style: none;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 9px;
}
.benefit-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.benefit-item .benefit-icon svg {
  width: 20px;
  height: 20px;
}
.benefit-text {
  font-family: Nunito;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.5%;
  color: #252b37;
}
html[dir="rtl"] .benefit-text {
  font-family: "Playpen-Sans-Arabic";
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;

  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: right;
}

.card-info_quantity-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(121.88px, 1fr));
  gap: 8px;
}
.qty-btn {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 10px 16px;
  border-radius: 16px;
  font-family: Nunito;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.5%;
  background-color: #fafafa;
  color: #535862;
  border: none;
  outline: 1px solid#D5D7DA;
  transition: all ease-in-out 0.3s;
}
.qty-btn.active {
  background-color: #fff1f9;
  outline: 1px dashed #f570b7;
  color: #ff008b;
}
.qty-dropdown-list {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border: 1px solid #d5d7da;
  overflow: hidden;
}
.qty-dropdown-list.show {
  display: block;
}

.qty-dropdown-item {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-family: "Nunito";
  font-size: 14px;
  color: #535862;
  transition: background 0.2s;
}

.qty-dropdown-item:hover {
  background-color: #fff1f9;
  color: #ff008b;
}
.card-info_custom-select-wrapper {
  position: relative;
  width: 100%;
}
#custom-qty-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.chevron-icon {
  transition: transform 0.3s;
}

.custom-select-wrapper.open .chevron-icon {
  transform: rotate(180deg);
}
.manual-input {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  outline: 1px solid #f570b7 !important;
}
.manual-input.active {
  outline: 1px dashed #f570b7 !important;
}

.manual-input::-webkit-outer-spin-button,
.manual-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.card-info_quantity-container #qty-btn-2::after {
  content: "Idéal jeunes mamans";
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 92.52px;
  height: 38px;

  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 11px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: center;
  color: #f570b7;
  padding: 6px 4px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: none;
  outline: 1px solid #ef95c5;

  z-index: -1;
}
.card-info_tabs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabs-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tab-btn {
  width: 100%;
  border: none;
  outline: 1px solid #e9eaeb;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: none;
  padding: 8px 10px;
  font-family: Nunito;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: center;
  color: #252b37;
  transition: all ease-in-out 0.3s;
}

.tab-btn.selected {
  background-color: #fff1f9;
  color: #ff008b;
  transform: translateY(-1px);
}
.tab-content-display {
  width: 100%;
  padding: 10px;
  border: none;
  outline: 1px solid #e9eaeb;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  white-space: pre-line;
}
.tab-content-display p {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: center;
  color: #414651;
}
html[dir="rtl"] .tab-content-display p {
  font-family: "Playpen-Sans-Arabic";
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;

  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: right;
}

/* Style de la Galerie */
.product-gallery {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-main-image {
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
  background-color: #f5f5f5;
  aspect-ratio: 1 / 1;
}

.product-main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.product-thumbnails-container {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 10px;
  position: relative;
  overflow: visible;
}
.product-thumbnails-container > .glide__arrows {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
.product-thumbnails-container > .glide__arrows > button.glide__arrow {
  pointer-events: all;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.product-thumbnails-container
  > .glide__arrows
  > button.glide__arrow:nth-child(1) {
  transform: translate(-50%, 0);
}
.product-thumbnails-container
  > .glide__arrows
  > button.glide__arrow:nth-child(2) {
  transform: translate(50%, 0);
}
/* Barre de défilement style Horizon (discrète) */
.product-thumbnails-container::-webkit-scrollbar {
  height: 4px;
}
.product-thumbnails-container::-webkit-scrollbar-thumb {
  background: #e9eaeb;
  border-radius: 10px;
}

.product-thumbnails-slider {
  /* display: flex;
  gap: 10px; */
}

.thumb-item {
  width: 59.17px;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.25s ease;
  opacity: 0.6;
}

.thumb-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumb-item.active {
  opacity: 1;
  border-color: #ff008b;
  box-shadow: 0px 0px 8px 0px #0000001a;
  transform: scale(0.95); /* Effet d'enfoncement discret */
}

/* --------------rtlCss---------------- */

html[dir="rtl"]
  .product-thumbnails-container
  > .glide__arrows
  > button.glide__arrow {
  transform: rotateY(180deg);
}
@media (max-width: 990px) {
  .doumdoum__custom-product-section {
    padding: 38px 40px;
  }
  .container-grid__images {
    min-width: 320px;
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
  }
}
@media (max-width: 768px) {
  .benefits-list {
    gap: 8px;
  }
  .doumdoum__custom-product-section_container-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .doumdoum__custom-product-section {
    padding: 20px;
  }
  .product-main-image::after {
    top: 0;
    left: 0;
    width: 54px;
    height: 54px;
  }
  .card-info_title-price {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .card-info_reviews {
    grid-column: 1 / 4;
  }
  .card-info_reviews {
    align-self: flex-end;
  }
  .card-info_title-price span {
    align-self: center;
    justify-self: flex-end;
  }

  .card-info_quantity-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .card-info_custom-select-wrapper {
    position: relative;
    width: 100%;
  }
  .qty-btn {
    width: 100%;
  }
  .card-info_quantity-container #qty-btn-2::after {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .doumdoum__custom-product-section {
    padding: 38px 16px;
  }
  .product-main-image::after {
    top: -2%;
    left: -2%;
    width: 54px;
    height: 54px;
  }
  .card-info_title-price h1 {
    font-size: 24px;
  }
  .card-info_title-price span {
    font-size: 16px;
  }
  .card-info_reviews span {
    font-size: 12px;
  }
  .card-info_quantity-container #qty-btn-2::after {
    width: 119.15px;
    top: -15%;
  }
  .benefit-text {
    font-size: 14px;
  }
  .qty-btn {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .card-info_title-price h1 {
    min-width: 200px;
  }
}

/* sticky-add-to-art */
.sticky-add-to-cart {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: #fafafa;
  border-top: 1px solid #d5d7da;
  box-shadow: 0 0 8px 0 #4747470d;
  z-index: 888;
  transition: bottom 0.3s ease-in-out;
  padding: 16.5px 24px;
}

.sticky-add-to-cart.is-visible {
  bottom: 0;
}

.doumdoum__sticky-add-to-cart__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.doumdoum__sticky-add-to-cart_info-container-title {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.doumdoum__sticky-add-to-cart__qty {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.5%;
  color: #717680;
}
.doumdoum__sticky-add-to-cart__title {
  min-width: 257px;
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.5%;
  color: #181d27;
}
.doumdoum__sticky-add-to-cart__price {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.5%;
  color: #181d27;
}
.doumdoum__sticky-add-to-cart__image {
  width: 64px;
  height: 64px;
  border-radius: 8px;
}
.doumdoum__sticky-add-to-cart__image img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
}
.doumdoum__sticky-add-to-cart_info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}
.doumdoum__sticky-add-to-cart__info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}
.doumdoum__sticky-add-to-cart_info-container-reviews {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.doumdoum__sticky-add-to-cart_info-container-reviews span {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.5%;
  color: #414651;
}
.sticky-add-to-cart__title {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.doumdoum__sticky-add-to-cart__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 80%;
}
.doumdoum__sticky-add-to-cart__actions p {
  font-family: Nunito;
  font-weight: 500;
  font-style: Medium;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: center;
  color: #414651;
  margin: 0;
}
.sticky-form {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: flex-end;
}

.doumdoum__add-btn {
  border-radius: 16px;
  border: none;
}

.doumdoum__sticky-btn-cart {
  background-color: #6bb4f3;
  color: #ffffff;
  flex: 1;
  min-width: 238px;
  outline: 1px solid #d5edff;
  font-family: Nunito;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.5%;
  margin: 0;
  padding: 12px 20px;
  text-wrap: nowrap;
}
.doumdoum__sticky-btn-cart span {
  font-size: 14px;
  text-wrap: nowrap;
}

.doumdoum__sticky-btn-buy {
  background-color: #ffffff;
  color: #101010;
  outline: 1px solid #e9eaeb;
  flex: 1;
  min-width: 174px;
  font-family: Nunito;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.5%;
  margin: 0;
  padding: 12px 16px;
}

.doumdoum__sticky-btn-buy .btn-text--mobile {
  display: none;
}

.sticky-btn-disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
@media screen and (max-width: 1024px) {
  .doumdoum__sticky-add-to-cart__qty {
    font-size: 16px;
  }
  .doumdoum__sticky-add-to-cart__title {
    min-width: 150px;
    font-size: 16px;
  }
  .doumdoum__sticky-add-to-cart__price {
    font-size: 16px;
  }
  .doumdoum__sticky-add-to-cart_info-container-reviews span {
    font-size: 13px;
  }
}
@media screen and (max-width: 850px) {
  .sticky-add-to-cart {
    padding: 12px 16px;
  }
  .doumdoum__sticky-add-to-cart__info {
    display: none;
  }
  .doumdoum__sticky-add-to-cart__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
  }
  .doumdoum__sticky-add-to-cart__actions {
    width: 100%;
    gap: 10px;
  }
  .doumdoum__sticky-btn-buy {
    text-overflow: ellipsis;
    min-width: 89px;
  }
  .doumdoum__sticky-add-to-cart__actions p {
    font-size: 12px;
  }
}
@media screen and (max-width: 500px) {
  .doumdoum__sticky-btn-buy .btn-text--mobile {
    display: inline;
  }
  .doumdoum__sticky-btn-buy .btn-text--desktop {
    display: none;
  }
  .doumdoum__sticky-btn-cart {
    width: 80%;
    text-wrap: nowrap;
  }
}
