.doumdoum__products-about {
  position: relative;
  padding: 82px 0 105px 112px;
  overflow: hidden;
}
.carousel-container {
  width: 100%;
}
.carousel-slide {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 340px;
}
.carousel-track {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  width: 100%;
}
.carousel-track:last-child {
  padding-right: 20px;
}
.carousel-track::-webkit-scrollbar {
  display: none;
}
.carousel-slide {
  flex: 0 0 340px;
  scroll-snap-align: start;
  width: 340px;
}
.carousel-slide .product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  width: 100%;
}
.product-card img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.product-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 308px;
  padding: 8px;
}
html[dir="rtl"] .product-title-container {
  direction: rtl;
}

.product-title-container h3 {
  font-family: Fredoka;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.75%;
  text-align: left;
  text-decoration: none;
  align-self: flex-start;
}
html[dir="rtl"] .product-title-container h3 {
  font-family: "Playpen-Sans-Arabic";
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: right;
}
.product-title-container a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Nunito;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: right;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0;
  text-decoration-thickness: 0;
  gap: 4px;
  color: #181d27;
}
html[dir="rtl"] .product-title-container a {
  font-family: "Playpen-Sans-Arabic";
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: right;
  text-wrap: nowrap;
}
html[dir="rtl"] .product-title-container a img {
  transform: rotateY(180deg);
}
.product-desc {
  font-family: Nunito;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -1.5%;
  text-align: left;
  color: #181d27;
  padding: 0 8px 8px;
}
html[dir="rtl"] .product-desc {
  font-family: "Playpen-Sans-Arabic";
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: right;
}

@media screen and (max-width: 990px) {
  .doumdoum__products-about {
    padding: 64px 0 64px 90px;
  }
}
@media screen and (max-width: 768px) {
  .doumdoum__products-about {
    padding: 64px 0 64px 40px;
  }
  .product-title-container {
    display: contents;
  }
  .carousel-slide {
    display: grid;
    grid-template-rows: auto;
    row-gap: 10px;
    padding: 8px;
    border-radius: 16px;
    border: 1px solid #d5d7da;
  }
  .command-link {
    justify-content: center;
    grid-row-end: 6;
  }
  .product-title-container a {
    justify-content: flex-start;
  }
  .command-link .arrow-icon {
    width: 44px;
    height: 44px;
  }
  .product-desc {
    padding: 0;
  }
}
@media screen and (max-width: 450px) {
  .doumdoum__products-about {
    padding: 64px 0 64px 16px;
  }
  .carousel-track {
    gap: 12px;
  }
  .carousel-slide {
    flex: 0 0 220px;
    width: 220px;
  }
}
