/* .page-width {
  max-width: 1280px;
  margin: 0 auto;
} */

#header-group {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

main.content-for-layout {
  margin-top: 76px;
}

.header__row--top {
  min-height: 72px;
}

.header__row--top .menu-list__link-title {
  font-family: nunito;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.5%;
}

.doumdoum__cart-button:hover {
  box-shadow: 4px 4px #d2d2d2;
  border-radius: 16px;
}

.doumdoum__account-button {
  /* width: 36px; */
  margin-right: 16px;
  background-color: white !important;
  border-radius: 16px;
  border: 1px solid #e9eaeb;
}
.doumdoum__account-button:hover {
  box-shadow: 4px 4px #d2d2d2;
  border-radius: 16px;
}

@media screen and (max-width: 790px) {
  .doumdoum__account-button {
    display: none;
    opacity: 0;
  }

  .doumdoum__header .svg-wrapper > svg {
    width: 16px;
    height: 16px;
  }
  .doumdoum__header .svg-wrapper {
    width: 16px;
    height: 16px;
  }
}

/* SMALL PRODUCT CARD */

.doumdoum__custom-product-card {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.doumdoum__custom-product-card .doumdoum__custom-product-card-top {
  display: flex;
  position: relative;
  width: 216px;
  flex-direction: column;
  align-items: center;
  height: 280px;
  justify-content: space-around;
  padding-top: 22px;
  border-radius: 20px;
}
.doumdoum__custom-product-card-top-bottom {
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.doumdoum__custom-product-card-top-bottom h3 {
  font-family: nunito;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.75%;
  text-align: center;
  margin: 0;
  margin-bottom: 6px;
}
.doumdoum__custom-product-card-top-bottom p {
  font-family: nunito;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: center;
  margin: 0;
}

.doumdoum__custom-product-card
  .doumdoum__custom-product-card-top
  .bear-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.doumdoum__custom-product-card .doumdoum__custom-product-card-top > img {
  z-index: 2;
  width: 96px;
  height: auto;
  height: 200px;
}

.doumdoum__custom-product-card-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.doumdoum__custom-product-card-bottom .product-title {
  display: flex;
  align-items: center;
}
.doumdoum__custom-product-card-bottom .product-title h5 {
  font-family: nunito;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.5%;
  color: #181d27;
  width: 154px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.doumdoum__custom-product-card-bottom .product-title .product-star-review {
  display: flex;
  align-items: center;
  gap: 4px;
}
.doumdoum__custom-product-card-bottom .product-title .product-star-review span {
  color: #414651;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.5%;
}

.doumdoum__custom-product-card-bottom .product-description {
  margin-top: 4px;
  max-width: 217px;
  margin-bottom: 18px;
}

.doumdoum__custom-product-card-bottom .product-description p {
  color: #535862;
  font-family: nunito;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.5%;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
}
.doumdoum__custom-product-card-bottom .product-atc button[type="submit"] {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff1f9;
  color: #f570b7;
  font-family: nunito;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.5%;
}
.doumdoum__custom-product-card-bottom .product-atc button[type="submit"]:hover {
  box-shadow: 4px 4px #ff5eb666;
  outline: 1px solid #f570b7;
}

@media (max-width: 992px) {
  .doumdoum__nos-produits {
    padding: 0 50px 50px;
  }
  .doumdoum__nos-produits-top h2 {
    font-size: 28px;
  }
}
@media (max-width: 600px) {
  .doumdoum__nos-produits {
    padding: 0 16px 44px;
  }
  .doumdoum__nos-produits-top h2 {
    font-family: fredoka;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.75%;
    text-align: center;
  }
}

.doumdoum__object-fit {
  object-fit: cover;
}

@media (max-width: 790px) {
  .doumdoum__object-fit {
    object-fit: contain;
  }
}
