.doumdoum__ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.doumdoum__ingredients-top {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.doumdoum__ingredients-top h2 {
  font-family: fredoka;
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.75%;
  color: #252b37;
  text-align: center;
}
html[dir="rtl"] .doumdoum__ingredients-top h2 {
  font-family: "Playpen-Sans-Arabic";
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: center;
}
.doumdoum__ingredients-bottom {
  position: relative;
  width: 100%;
  padding: 0 57px;
}
.doumdoum__ingredients-suns {
  padding: 0 57px;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  top: -55px;
}
.doumdoum__ingredients-suns img {
  width: 103px;
  height: 99px;
}

.doumdoum__ingredients-desktop {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: 24px;
  justify-content: center;
}
.doumdoum__ingredients-desktop div.ingredient-card {
  aspect-ratio: 280 / 173;
  width: calc(calc(100% / 4) - 12px);
  background-color: #fafafa;
}
.doumdoum__ingredients-mobile {
  display: none;
}
.doumdoum__ingredients-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 3px;
}
@media (max-width: 992px) {
  .doumdoum__ingredients-desktop {
    display: none;
  }
  .doumdoum__ingredients-mobile {
    display: flex;
  }
  .doumdoum__ingredients-suns {
    padding: 0;
    left: -40px;
    right: -40px;
    top: 0;
  }
  .doumdoum__ingredients-bottom {
    overflow: hidden;
    padding: 57px 0;
  }
}

.ingredient-card {
  position: relative;
  display: flex;
  min-height: 200px;
  padding: 15px 12px;
  border-radius: 24px;
  border: none;
  outline: 1px solid #a4a7ae;
  overflow: hidden;
  background-color: #fafafa;
}
.ingredient-card__image-wrapper {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}
html[dir="rtl"] .ingredient-card__image-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: auto;
  transform: rotateY(180deg);
}
.ingredient-card__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.ingredient-card__image {
  height: 100%;
}

.ingredient-card__content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 12px;
}
.ingredient-card__content h3 {
  font-family: Fredoka;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.75%;
  color: #2998f6;
  margin: 0;
}
html[dir="rtl"] .ingredient-card__content h3 {
  font-family: "Playpen-Sans-Arabic";
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: right;
}
.ingredient-card__description {
  font-family: Nunito;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.5%;
  color: #414651;
  margin: 0;
}
html[dir="rtl"] .ingredient-card__description {
  font-family: "Playpen-Sans-Arabic";
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.5%;
  text-align: right;
}
.ingredient-card__benefits {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.ingredient-card__benefits li {
  position: relative;
  font-family: Nunito;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.5%;
  color: #414651;
  padding-left: 14px;
  margin: 0;
  text-wrap: nowrap;
}
html[dir="rtl"] .ingredient-card__benefits li {
  font-family: "Playpen-Sans-Arabic";
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: right;
  padding-right: 14px;
  padding-left: 0;
}
.ingredient-card__benefits li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 8px;
  height: 8px;
  background-color: #ef95c5;
  border-radius: 50%;
}
html[dir="rtl"] .ingredient-card__benefits li::before {
  content: "";
  position: absolute;
  right: 0;
  top: 3px;
  width: 8px;
  height: 8px;
  background-color: #ef95c5;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .ingredient-card {
    min-height: 167px;
  }
  .ingredient-card__content h3 {
    font-size: 18px;
  }
}
