.doumdoum__nos-produits {
  display: flex;
  flex-direction: column;
  padding: 0 0 96px;
  background-color: #fafafa;
}

.doumdoum__nos-produits-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.doumdoum__nos-produits-top span {
  padding: 6px 28px;
  background-color: #eef6ff;
  border: 1px solid #d5edff;
  border-radius: 20px;
  width: fit-content;
  font-family: nunito;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.5%;
  text-align: center;
  color: #2998f6;
}

.doumdoum__nos-produits-top h2 {
  font-family: fredoka;
  font-weight: 500;
  font-size: 34px;
  line-height: 120%;
  letter-spacing: -0.75%;
  text-align: center;
  color: #252b37;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 8px;
}
.doumdoum__nos-produits-products {
  display: flex;
  align-items: center;
}
.doumdoum__nos-produits-products ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
}

@media (max-width: 992px) {
  .doumdoum__nos-produits {
    padding: 0 0 100px 0;
  }
}
